# API
PORT=4000
CORS_ORIGINS=http://localhost:5173

# Postgres (Azure Flexible Server)
PGHOST=ps-tracker.postgres.database.azure.com
PGPORT=5432
PGDATABASE=ps_tracker
PGUSER=psapp
PGPASSWORD=__replace_me__
PGSSLMODE=require